/* ANIMATION TO WHITE BALL */
.ballShootWhite{
    animation-name: shootEnemyWhite;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes shootEnemyWhite {
    0%{
        /* background-color: black; */
        transform: rotate(-7200deg);
    }
    50%{
        opacity: 1;
        top: -20px;
        left: -50px;
        /* background-color: black; */
    }
    53%{
        left: -45px;
        top: -30px;
    }
    57%{
        left:-40px;
        top: -35px;
    }
    60%{
        left: -35px;
        top: -38px;
    }
    63%{
        top: -40px;
        left: -25px;
    }
    67%{
        top: -38px;
        left: -15px;
    }
    70%{
        top: -35px;
        left: -10px;
    }
    73%{
        top: -30px;
        left: -8px;
    }
    77%{
        top: -20px;
        left: -5px;
    }
    84%{
        top: 0px;
        transform: rotate(0deg);
        background-image: url(../assets/images/bullets/pokeballBullet.png);
    }
    85%{
        transform: scale(3);
        background-image: url(../assets/images/splash/BattleshipInterfaceSplash1.png);
    }
    86%{
        transform: scale(3);
        background-image: url(../assets/images/splash/BattleshipInterfaceSplash2.png);
    }
    87%{
        transform: scale(3);
        background-image: url(../assets/images/splash/BattleshipInterfaceSplash3.png);
    }
    88%{
        transform: scale(3);
        background-image: url(../assets/images/splash/BattleshipInterfaceSplash4.png);
    }
    89%{
        transform: scale(3);
        background-image: url(../assets/images/splash/BattleshipInterfaceSplash5.png);
    }
    90%{
        transform: scale(3);
        background-image: url(../assets/images/splash/BattleshipInterfaceSplash1.png);
    }
    91%{
        transform: scale(3);
        background-image: url(../assets/images/splash/BattleshipInterfaceSplash2.png);
    }
    92%{
        transform: scale(3);
        background-image: url(../assets/images/splash/BattleshipInterfaceSplash3.png);
    }
    93%{
        transform: scale(3);
        background-image: url(../assets/images/splash/BattleshipInterfaceSplash4.png);
    }
    94%{
        transform: scale(3);
        background-image: url(../assets/images/splash/BattleshipInterfaceSplash5.png);
    }
    94%{
        
        transform: scale(1);
        background-image: url(../assets/images/bullets/pokeballBullet.png);
    }
    100%{
        opacity: 1;
        top: 0px;
        left: 0px;
        background-image: url(../assets/images/bullets/whiteballBullet.png);
    }
}
/* ANIMATION TO RED BALL */
.ballShootRed{
    animation-name: shootEnemyRed;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes shootEnemyRed {
    0%{
        transform: rotate(-7200deg);
    }
    50%{
        opacity: 1;
        top: -20px;
        left: -50px;
    }
    53%{
        left: -45px;
        top: -30px;
    }
    57%{
        left:-40px;
        top: -35px;
    }
    60%{
        left: -35px;
        top: -38px;
    }
    63%{
        top: -40px;
        left: -25px;
    }
    67%{
        top: -38px;
        left: -15px;
    }
    70%{
        top: -35px;
        left: -10px;
    }
    73%{
        top: -30px;
        left: -8px;
    }
    77%{
        top: -20px;
        left: -5px;
    }
    84%{
        top: 0px;
        transform: rotate(0deg);
        background-image: url(../assets/images/bullets/pokeballBullet.png);
    }
    85%{
        transform:scale(2);
        background-image: url(../assets/images/fire/BattleshipInterfaceFire1.png);
    }
    86%{
        transform:scale(2);
        background-image: url(../assets/images/fire/BattleshipInterfaceFire2.png);
    }
    87%{
        transform:scale(2);
        background-image: url(../assets/images/fire/BattleshipInterfaceFire3.png);
    }
    88%{
        transform:scale(2);
        background-image: url(../assets/images/fire/BattleshipInterfaceFire4.png);
    }
    89%{
        transform:scale(2);
        background-image: url(../assets/images/fire/BattleshipInterfaceFire5.png);
    }
    90%{
        transform:scale(2);
        background-image: url(../assets/images/fire/BattleshipInterfaceFire1.png);
    }
    91%{
        transform:scale(2);
        background-image: url(../assets/images/fire/BattleshipInterfaceFire2.png);
    }
    92%{
        transform:scale(2);
        background-image: url(../assets/images/fire/BattleshipInterfaceFire3.png);
    }
    93%{
        transform:scale(2);
        background-image: url(../assets/images/fire/BattleshipInterfaceFire4.png);
    }
    94%{
        transform:scale(2);
        background-image: url(../assets/images/fire/BattleshipInterfaceFire5.png);
    }
    94%{
        transform: scale(2);
        background-image: url(../assets/images/fire/fireMoving.gif);
    }
    100%{
        opacity: 1;
        top: 0px;
        left: 0px;
        transform: scale(2);
        background-image: url(../assets/images/fire/fireMoving.gif);
        align-self: flex-start;
    }
}
/* ANIMATION TO VIBRATE CONTAINER WHEN A RED BALL SHOT ON A SHIPS */
.animation__container{
 animation-name: earthquake;
 animation-duration: 0.1s;
 animation-iteration-count: 10;
 animation-timing-function: linear;
}
@keyframes earthquake {
    from{
        left: 2px;
    }
    to{
        left: -2px;
    }
}
/* FUNTION TO SHOW TURN AND CELL TEXT */
.appearText{
    animation-name: appearText ;
    animation-duration: .5s;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes appearText {
    0%{
        opacity: 0;
        transform: scale(1);
    }
    50%{
        opacity: 1;
        transform: scale(1.5);

    }
    100%{
        opacity: 1;
        transform: scale(1);

    }
}
/* TO HIDE TEXT FOR CELL AND TURN */
.desappearText{
    animation-name: desappearText ;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes desappearText {
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1);
    }
}
/* TO GET FOOTER STATS APPEAR AT THE FINAL */
.appearFooter{
    animation-name: appearFooter ;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes appearFooter {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        top: 80px;
    }
}
/* ANIMAITON ALTERNAE BUTTON START GAME FROM HEADER */
.animation__button{
    animation-name: animation__button ;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes animation__button {
    0%{
        background-color: rgba(0, 0, 255, 0.448);
        box-shadow: 1px 1px 10px blue;
        color: white;
    }
    100%{
        background-color: white;
        color: blue;
        box-shadow: none;
    }
}
/* ANIMATION TO GET THE BUTTO HEADER SELECTED */
.selected{
    animation-name: selected ;
    animation-duration: 0.1s;
    animation-timing-function: ease;
    animation-iteration-count: 5;
}

@keyframes selected {
    0%{
        background-color: red;
        color: gray;
    }
    100%{
        background-color: rgba(255, 0, 0, 0.244);
        color: white;
    }
}
/* ANIMATION TO DESAPPEAR HEADER FATER GAME STARTS */
.hideHeader{
    animation-name: hideHeader ;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes hideHeader {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}
/* ANIMATION TO SHOE CONTAINER BOARDS GAME */
.apperContainer{
    animation-name: apperContainer ;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes apperContainer {
    0%{
        display: block;
        opacity: 0;
    }
    100%{
        opacity: 1;
        display: block;
    }
}
