*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    max-width: 1400px;
    min-width: 390px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00D3E1;
    overflow: hidden;
}
.container{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr,50px,1fr,50px;
    grid-template-areas: 
    "actionZone"
    "actionZone__title-container"
    "infoZone"
    "section__buttons";
    margin: 0;
    padding: 0;
}
.header{
    cursor: url('../assets/images/crosshair_pointer__red.png') 25 25,auto;
    width: 400vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: end; */
    position: relative;
    padding: 0;
    transform: translateY(-700px);
}

/* ACTION ZONE STYLES */
.actionZone{
    grid-area: actionZone;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/images/backgorund_water.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.actionZone__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.actionZone__title-container{
    width: 100%;
    text-align: center;
    margin: 0;
    background-color: orangered;
    grid-area: actionZone__title-container;
}
.actionZone__title{
    width: 100%;
    margin: 0;
    
}
.actionZone__ships,.infoZone__ships{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}
.barco1{
    background-color: brown;
    grid-column: 5/10;
    grid-row: 1/2;
    
}
.ship_image{
    object-fit: contain;
}
.barco2{
    background-color: brown;
    grid-column: 4/9;
    grid-row: 3/4;
}
.barco3{
    background-color: brown;
    grid-column: 4/5;
    grid-row: 6/8;
}
.barco4{
    background-color: brown;
    grid-column: 8/9;
    grid-row: 5/8;
}
.actionZone__board,.infoZone__board{
    cursor: url('../assets/images/crosshair_pointer__red.png') 25 25,auto;
    height: 270px;
    width: 270px;
    background-image: url(../assets/images/board.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 17px 10px 8px 18px;
    opacity: 0.8;
}

/* INFO ZONE STYLE */
.infoZone{
    grid-area: infoZone;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(../assets/images/backgorund_water.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.infoZone__board{
    width: 360px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 12px 13px 24px;
}
.infoZone__fleet,.actionZone__fleet{
    width: 100%;
    background-color: orangered;
    text-align: center;
    display: none;
    
}

/* common styles */
.shipOnIt{
    background-color: transparent;
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: crosshair; */
}

.amunnition{
    position: relative;
    top: 1000px;
    left: -300px;
    width: 50%;
    height: 50%;
    /* border-radius: 50%; */
    background-image: url(../assets/images/bullets/pokeballBullet.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}
.ship{
    object-fit: contain;
    width: 100%;
    height: 100%;
    place-self: center;
    opacity: 1;
}
.section__buttons{
    display: flex;
    justify-content: space-evenly;
    background-color: #555555;
    padding: 6px;
    grid-area: section__buttons;
}
.contianer__icon{
    position: relative;
    width: 30px;
    height: 30px;
}
.icon{
    width: 100%;
    height: 100%;
}
.red_bar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
    width: 42px;
    height: 5px;
    background-color: white;
    border-radius: 2px;
}
.hide{
    opacity: 0;;
}
.none{
    display: none;
}
.show{
    display: block;
}

