*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    max-width: 1400px;
    min-width: 390px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
}
.container{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr),50px;
    grid-template-areas: 
    "actionZone"
    "infoZone"
    "footer";
    /* cursor: crosshair; */
    position: relative;
    margin: 0;
    padding: 0;
}
.header,.footer{
    display: none;
}

/* ACTION ZONE STYLES */
.actionZone{
    cursor: crosshair;
    grid-area: actionZone;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/images/backgorund_water.gif);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position-y: -86px; */
}
.actionZone__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.actionZone__title-container{
    width: 100%;
    text-align: center;
    margin: 0;
    background-color: orangered;
    
}
.actionZone__title{
    width: 100%;
    margin: 0;
    
}
.actionZone__ships,.infoZone__ships{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}
.barco1{
    background-color: brown;
    grid-column: 5/10;
    grid-row: 1/2;
    cursor: crosshair;
    
}
.ship_image{
    object-fit: contain;
}
.barco2{
    background-color: brown;
    grid-column: 4/9;
    grid-row: 3/4;
}
.barco3{
    background-color: brown;
    grid-column: 4/5;
    grid-row: 6/8;
}
.barco4{
    background-color: brown;
    grid-column: 8/9;
    grid-row: 5/8;
}
.actionZone__board,.infoZone__board{
    cursor: url('../assets/images/crosshair_pointer__red.png'),auto;
    zoom: 1;
    height: 270px;
    width: 270px;
    background-image: url(../assets/images/board.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 17px 10px 8px 18px;
    opacity: 0.8;
    
    /* display: grid;
    grid-template-columns: 0.75fr repeat(10,1fr) 0.5fr;
    grid-template-rows: 0.75fr repeat(10,1fr) 0.5fr; */
}

/* INFO ZONE STYLE */
.infoZone{
    grid-area: infoZone;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 5px; */
    /* cursor: crosshair; */
    background-image: url(../assets/images/backgorund_water.gif);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position-y: -86px; */
    
}
.infoZone__board{
    width: 360px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 12px 13px 24px;
}
.infoZone__ships{
    /* border: 1px solid red;    */
    
}
.infoZone_fleet{
    cursor: crosshair;
    place-items: center
}
.shipOnIt{
    background-color: transparent;
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: crosshair; */
}

.amunnition{
    position: relative;
    top: 1000px;
    left: -300px;
    width: 50%;
    height: 50%;
    /* border-radius: 50%; */
    background-image: url(../assets/images/bullets/pokeballBullet.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}
.ship{
    object-fit: contain;
    width: 100%;
    height: 100%;
    place-self: center;
    opacity: 1;
}
.section__buttons{
    display: flex;
    justify-content: space-evenly;
    background-color: #555555;
    padding: 6px;
}
.contianer__icon{
    position: relative;
    width: 30px;
    height: 30px;
}
.icon{
    width: 100%;
    height: 100%;
}
.red_bar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
    width: 42px;
    height: 5px;
    background-color: white;
    border-radius: 2px;
}
.hide{
    opacity: 0;;
}
.show{
    display: block;
}

/* FOOTER STYLES */

.footer{
    opacity: 0;
    position: absolute;
    top: 705px;
    left: 50%;
    color: white;
    transform: translate(-50%);
    width: 400px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    background-color: rgba(68, 166, 68, 0.753);
}
.footer__title{
    text-align: center;
    padding: 8px;
    width: 80%;
}
.table{
    border-collapse: separate;
    color: white;
}
.th,.td{
    text-align: center;
    border: 1px solid white;
}
.td_player{
    background-color: blue;
}
.td_cpu{
    background-color: red;
}
.footer__button{
background-color: rgba(0, 0, 255, 0.448);
box-shadow: 1px 1px 10px blue;
width: 50%;
text-align: center;
padding: 8px;
border-radius: 3px;
font-weight: bold;
color: white;
transition: all 1s ease;
}
.footer__button:hover{
    background-color: white;
    color: rgba(0, 0, 255, 0.448);
    box-shadow: none;
}

.bg-red{
    background-color: red;
}
.bg-green{
    background-color: green;
}
.bg-white{
    background-color: white;
}


